<?xml version="1.0"?>
<model>
  <name>RAC2026 VTOL</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
   <name>PresidentPlant</name>
   <email>nomailforyou@snu.ac.kr</email>
  </author>

  <description>
	  RAC2026 VTOL Gazebo Model (From standard-vtol)
  </description>
</model>
